venv/
.idea/
**/index
**/__pycache__
**/*.pyc
**/archive
**/*.db*
**/*.iml
**/Logs
**/logs
**/*.log
**/*.log*
**/*.swp
**/target
**/output.json
**/execution_json
**/dist
**/workspaces
**/build
**/public
**/node_modules
**/.vscode
**/*dont_commit*
**/.coverage
**/.cache